[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken = "*"
langchain = "*"
openai = "*"
chromadb = "*"
langchain-openai = "*"
python-dotenv = "*"
bs4 = "*"
langchain-community = "*"
langchainhub = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
